.fromrightside{
    float:right;
    width:25%;
    
}
.regformimg{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    height:181px;
    border:1px solid #A9A9A9;
    background-color:white;
    padding:5px;
}

.fromleftside{
    float:left;
    width:75%;
}
.formdivpi{
    margin-left:10px;
    margin-top:-50px;
}

td{
    height:30px;
}
.fful{
    margin-top:-40px;
}